<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>合作问答</title>
    <link rel="shortcut icon" href="/public/images/fav.ico">
    <link rel="stylesheet" href="/public/css/global.css">
    <link rel="stylesheet" href="/public/css/ask.css">
</head>
<body>
<img src="/public/images/join.jpg" alt="" class="center img mb30">
<h3>如何成为代理?</h3>
<p>首先关注公众号, 点击底部的招聘信息, 点开之后注册招工代理, 添加微信: 199 3737 2456, 审核通过后即可成为我们的代理人.</p>

<h3>做代理有什么条件?</h3>
<p>无条件加入, 完全 0 费用.</p>

<h3>作为代理我该怎么做?</h3>
<p>很简单, 告诉你的朋友, 通过你可以找到工作. 每天早晚5分钟, 通过朋友圈, 微信群, QQ群等渠道将信息扩散出去, 有需要的人自会找你联系.</p>

<h3>都有哪些招聘岗位?</h3>
<p>以珠三角和长三角的工厂生产线普通工人, 技术工, 临时工, 短期工为主, 同时包含河南省的各种工作资源. 薪资月4000-7000元, 部分企业包食宿和缴纳五险一金.</p>

<h3>如果有人找工作, 代理需要怎么做?</h3>
<p>登录我们的招聘平台并且把招聘信息分享给他, 它识别岗位底部二维码并且填写个人信息提交之后, 我们会在1 - 3 天内通知并且安排进厂工作.</p>

<h3>可以让我的朋友帮忙招人吗?</h3>
<p>可以! 你可以委托你的亲戚/朋友/同学帮你招人, 我们会分别给与你和你的亲戚朋友发放不同的酬劳!</p>

<h3>好像挺赚钱的!</h3>
<p>付出就有回报!密切关注身边18-50周岁的务工人群, 你需要坚持不断地向外扩散招聘信息,在他们需要找工作的时候伸出援手, 成人之美的同时收获果实. </p>

<h3>招聘一个人能赚多少钱?</h3>
<p>根据不同岗位,每个月返费200-700元不等.具体的返费标准请添加微信咨询. </p>

<h3>入职多久后可以拿到返费?</h3>
<p>本月招聘的人员最迟在次月30日前拿到返费.付款方式可以选择微信/支付宝或者银行卡转账.</p>

<h3>还有更多问题?</h3>
<p>请拨打电话: 199 3737 2456 咨询.</p>
</body>
</html>