<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册招聘平台</title>
    <link rel="shortcut icon" href="/public/images/fav.ico">
    <link rel="stylesheet" href="/public/css/global.css">
    <link rel="stylesheet" href="/public/css/join.css">
</head>
<body>
<img src="/public/images/join.jpg" alt="" class="center img mb30">

<p class="text center">分享招聘信息, 让更多有需求的人看到!</p>
<p class="text center">只要求职者入职成功, 您就能获得一份属于您的奖励!</p>
<p class="text center">当然, 您还可以让身边的亲友加入进来一起分享招聘信息,</p>
<p class="text center mb30">您和亲友都可以获得佣金奖励!</p>

<h3 class="join">加入我们的好处</h3>
<ul class="box mb30">
    <li class="le"><strong>返费高:</strong><span>平均200-700元/人</span></li>
    <li class="rg"><strong>结算快:</strong><span>最长不超过一个月</span></li>
    <li class="le"><strong>投入小:</strong><span>只出人工, 0投入</span></li>
    <li class="rg"><strong>见效快:</strong><span>轻松年入3-5万</span></li>
    <li class="le"><strong>市场大:</strong><span>招工需求万人以上</span></li>
    <li class="rg"><strong>事简单:</strong><span>发发信息转转集会</span></li>
    <li class="le"><strong>利双收:</strong><span>帮助他人自己赚钱</span></li>
    <li class="rg"><strong>轻松做:</strong><span>农闲时间可兼职做</span></li>
</ul>
<div class="btn mb30">
    <a href="ask.html">合作问答</a>
    <a href="reg.html">申请注册</a>
</div>
<h3 class="join">推荐规则</h3>
<p class="text-l">被推荐人必须符合岗位要求</p>
<p class="text-l">被推荐人必须通过本平台报名入职</p>
<p class="text-l">被推荐人入职岗位不同,企业不同, 推荐人所得佣金不同</p>
<p class="text-l">被推荐人必须达到要求并且工资发放后推荐人才能获得佣金</p>
</body>
</html>