<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的</title>
    <link rel="shortcut icon" href="/public/images/fav.ico">
    <link rel="stylesheet" href="/public/css/global.css">
    <link rel="stylesheet" href="/public/css/my.css">
</head>
<body>
<ul class="box" id="box">
    <li>
        <img src="/public/images/bd.png" alt="">
        <p><strong>报名人数:</strong><span>5人</span></p>
    </li>
    <li>
        <img src="/public/images/rz.png" alt="">
        <p><strong>已入职人数:</strong><span>5人</span></p>
    </li>
    <li>
        <img src="/public/images/sj.png" alt="">
        <p><strong>入职满月人数:</strong><span>5人</span></p>
    </li>
    <li>
        <img src="/public/images/dl.png" alt="">
        <p><strong>代理人数:</strong><span>5人</span></p>
    </li>
    <li>
        <img src="/public/images/money1.png" alt="">
        <p><strong>累计收入:</strong><span>5元</span></p>
    </li>
    <li>
        <img src="/public/images/money2.png" alt="">
        <p><strong>当前收入:</strong><span>5元</span></p>
    </li>
</ul>

<div class="mask" id="mask">
    <h4>总报名人数 <strong>5</strong> 名, 继续努力!</h4>
    <ol>
        <li>
            <p><strong>杨阳洋</strong><span>2020-3.25 9:00</span></p>
            <p><strong>河南三一重工和双汇火腿肠</strong><span>已报名</span></p>
            <div>反馈: 此人已联系,短时间内不想上班. 等待下次联系, 联系时间:2020.3.25 10:00</div>
        </li>
        <li>
            <p><strong>杨阳洋</strong><span>2020-3.25 9:00</span></p>
            <p><strong>河南三一重工和双汇火腿肠</strong><span>已报名</span></p>
            <div>反馈: 此人已联系,短时间内不想上班. 等待下次联系, 联系时间:2020.3.25 10:00</div>
        </li>
        <li>
            <p><strong>杨阳洋</strong><span>2020-3.25 9:00</span></p>
            <p><strong>河南三一重工和双汇火腿肠</strong><span>已报名</span></p>
            <div>反馈: 此人已联系,短时间内不想上班. 等待下次联系, 联系时间:2020.3.25 10:00</div>
        </li>
        <li>
            <p><strong>杨阳洋</strong><span>2020-3.25 9:00</span></p>
            <p><strong>河南三一重工和双汇火腿肠</strong><span>已报名</span></p>
            <div>反馈: 此人已联系,短时间内不想上班. 等待下次联系, 联系时间:2020.3.25 10:00</div>
        </li>
        <li>
            <p><strong>杨阳洋</strong><span>2020-3.25 9:00</span></p>
            <p><strong>河南三一重工和双汇火腿肠</strong><span>已报名</span></p>
            <div>反馈: 此人已联系,短时间内不想上班. 等待下次联系, 联系时间:2020.3.25 10:00</div>
        </li>
        <li>
            <p><strong>杨阳洋</strong><span>2020-3.25 9:00</span></p>
            <p><strong>河南三一重工和双汇火腿肠</strong><span>已报名</span></p>
            <div>反馈: 此人已联系,短时间内不想上班. 等待下次联系, 联系时间:2020.3.25 10:00</div>
        </li>
        <li>
            <p><strong>杨阳洋</strong><span>2020-3.25 9:00</span></p>
            <p><strong>河南三一重工和双汇火腿肠</strong><span>已报名</span></p>
            <div>反馈: 此人已联系,短时间内不想上班. 等待下次联系, 联系时间:2020.3.25 10:00</div>
        </li>
        <li>
            <p><strong>杨阳洋</strong><span>2020-3.25 9:00</span></p>
            <p><strong>河南三一重工和双汇火腿肠</strong><span>已报名</span></p>
            <div>反馈: 此人已联系,短时间内不想上班. 等待下次联系, 联系时间:2020.3.25 10:00</div>
        </li>
        <li>
            <p><strong>杨阳洋</strong><span>2020-3.25 9:00</span></p>
            <p><strong>河南三一重工和双汇火腿肠</strong><span>已报名</span></p>
            <div>反馈: 此人已联系,短时间内不想上班. 等待下次联系, 联系时间:2020.3.25 10:00</div>
        </li>
        <li>
            <p><strong>杨阳洋</strong><span>2020-3.25 9:00</span></p>
            <p><strong>河南三一重工和双汇火腿肠</strong><span>已报名</span></p>
            <div>反馈: 此人已联系,短时间内不想上班. 等待下次联系, 联系时间:2020.3.25 10:00</div>
        </li>
        <li>
            <p><strong>杨阳洋</strong><span>2020-3.25 9:00</span></p>
            <p><strong>河南三一重工和双汇火腿肠</strong><span>已报名</span></p>
            <div>反馈: 此人已联系,短时间内不想上班. 等待下次联系, 联系时间:2020.3.25 10:00</div>
        </li>
        <li>
            <p><strong>杨阳洋</strong><span>2020-3.25 9:00</span></p>
            <p><strong>河南三一重工和双汇火腿肠</strong><span>已报名</span></p>
            <div>反馈: 此人已联系,短时间内不想上班. 等待下次联系, 联系时间:2020.3.25 10:00</div>
        </li>
        <li>
            <p><strong>杨阳洋</strong><span>2020-3.25 9:00</span></p>
            <p><strong>河南三一重工和双汇火腿肠</strong><span>已报名</span></p>
            <div>反馈: 此人已联系,短时间内不想上班. 等待下次联系, 联系时间:2020.3.25 10:00</div>
        </li>
    </ol>
</div>

<!--<div class="dh">
    <ul>
        <li><a href="msg.html">
            <img src="/public/images/zp.png" alt="">
            <span>招聘</span>
        </a></li>
        <li><a href="my.html">
            <img src="/public/images/my.png" alt="">
            <span>我的</span>
        </a></li>
    </ul>
</div>-->
<script src="/public/js/jquery.js"></script>
<script>
    $(function () {
        var oBox = $('#box');
        var oMask = $('#mask');
        $('#box li:lt(4)').click(function () {
            oBox.hide();
            oMask.fadeIn();
        });
        oMask.click(function(){
            oMask.hide();
            oBox.fadeIn();
        });
    })
</script>
</body>
</html>